@media (min-width:1278px) {
    .main-left{
        flex: 26%;
    }
    .main-right{
        flex: 74%;
    }
    .sidebar {
        padding-left: 128px;
    }

    .items {
        justify-content: flex-start;
    }
    .items span{
        padding: 10px 20px 10px 20px;

    }

    .main {
        padding-right: 100px;

    }

    .center{
        width: 600px;

    }
    .right {
        display: inline;
    }
    .post-tools{
        gap: 5%;
    }
}

@media (min-width:1002px) and (max-width:1277px) {
    .main-left{
        flex: 14%;
        
    }
    .main-right{
        flex: 86%;
    }
    .sidebar {
        padding-right: 25px;
    }
    .post{
        display: flex;
        justify-content: end;

    }
    .items {
        justify-content: end;
    }
    .post-tools{
        gap: 4%;
    }
    

    .main {
        padding-right: 30px;
    }

    .center{
        width: 600px;

    }
    .right {
        display: inline;
    }

}

@media (min-width:551px) and (max-width:1001px) {
    .main-left{
        flex: 20% ;
    }
    .main-right{
        flex: 90% ;
    }
    .sidebar{
        width: 50px;
        padding-left: 5%;
    }
    .main {
        left: 0;
        flex: 30%;
    }
    .center{
        width: 100%;
    }
    .right {
        display: none;
    }
    .post-tools{
        gap: 5%;
        
    }
}
@media (min-width:551px) {
    .bottombar{
        display: none !important;
    }
    .temp-top{
        display: none !important;
    }
    
    body{
        display: flex;
    }
}
@media (max-width:551px) {
    .body{
        overflow: hidden !important;
    }
    .main-right{
        overflow: hidden;
    }
    .right,.sidebar,.posting {
        display: none;
    }
    
    .main-right,.main,.center{
        width: 100%;
    }
    .post-section{
        margin-bottom: 100px;
    }
    .post-tools{
        gap: 1%;
        padding-left: 0px;
        font-size: 10px !important;
    }
    .nav{
        
        position: sticky;
        top: 0;
    }
}