@import url(./styles/utils.css);

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  background: black;
  color: white;
  font-family: 'Chirp';
  font-weight: 400;
}

/* Utility Classes */

.bor {
  border: 1px solid white;
}

.fl {
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Components Classes */
/* Loading Interface */
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #1d9bf0;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Sidebar */
.items,
.post {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-radius: 100px;
}

.items span {
  width: fit-content;
  padding: 10px;
  padding-right: 20px;
  gap: 20px;
  cursor: pointer;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  margin: 0;
}

.post span {
  width: fit-content;
  gap: 20px;
  cursor: pointer;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post div:hover {
  background-color: rgb(217, 217, 217);
  transition: all 100ms;
}

/* Search-Input */
.search-input {
  background-image: url(../public/icons/input/search-input.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px;

}

/* Common Classes */

.main {
  display: flex;
  height: 100vh;
  padding-right: 100px;
}

.center {
  flex: 60%;
  overflow-y: auto;
}

.right {
  flex: 40%;
  padding: 15px 10px 0px 30px;
  max-height: fit-content !important;
  overflow-y: auto;
}

.hero-top {
  position: sticky;
  top: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.topbar {
  border-bottom: 1px solid var(--light-border);
  padding: 0px 0px 2px 0px;
}

.topbar div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 60px;
  cursor: pointer;
  position: relative;
}

.items span:hover,
.hover:hover {
  transition: all 150ms ease-in-out;
  background: #EFF3F419;
}

.bottom-line {
  height: 5px;
  background-color: #1d9bf0;
  bottom: 0;
  border-radius: 9999px;
  position: absolute;
}

.option-image {
  cursor: pointer;
  border-radius: 9999px;
  padding: 7px;
  border: none;
  transition: 100ms ease-in-out;
}

.option-image:hover {
  background-color: #031018;
}


.trendings:hover,
.follows:hover {
  background-color: #0a0a0a;
  transition: 150ms ease-in-out;
}

.button-hover:hover {
  background-color: #D7DBDC;
  transition: ease-in-out;
}

/* Home Page */

.search-popup,
.dropdown {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px, rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;

}

.title:not(.post div) {
  color: rgb(181, 181, 181);
}

.trendings {
  cursor: pointer;
}

.hamburger {
  cursor: pointer;
  border-radius: 9999px;
  padding: 7px;
  border: none;
  transition: 100ms ease-in-out;

}

.hamburger:hover {
  background-color: #0A171F;
}

.hamburger:hover .hamsvg {
  fill: #1D9BF0;
}


/* Explore Page */

.top {
  padding: 0px 10px;
  margin: 2px 10px;
}

.top-options {
  font-size: 15px !important;
  padding: 20px;
  font-weight: bolder;

}

.settings-image:hover {
  background-color: #181919 !important;

}